.Background1{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(0, 59, 51) 20%, rgb(0, 137, 105) 80%, rgb(0, 0, 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}


@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {

  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
    box-shadow: 0px 10px 200px rgba(0, 0, 0, 1); /* Existing shadow */
    perspective: 100px; /* Add this line to create a 3D perspective */
  }
  
  .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); /* Optional: Add a slight overlay for depth */
    transform: translate3d(20px, -10px, 2px); /* Adjust these values to control the 3D effect */
    box-shadow: 0 10px 200px rgba(0, 0, 0, 0.5); /* Additional shadow for more depth */
  }
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
    
    
  }
}
.left {

  background: #ffffff;
  position: relative;
  width: 50%;

 
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 40px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #003e29;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 40px;
}
.right {
  background: #000000;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #007552;
  display: block;
  font-size: 16px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: rgb(171, 171, 171);
  border: 0;
  color: #000000;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}

input:focus {
  background: rgb(255, 255, 255)
}

input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  background-color: rgb(12, 118, 76);
  color: #000000;
  margin-top: 40px;
  transition: color 300ms;
  transition: all 0.5s ease;
  border-radius: 100px;
}

#submit:hover {
  background-color: rgb(6, 93, 58);
  color: #ffffff;
  transform: scale(1.08);

}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}

.signUptxt{
    color: rgba(149, 211, 255, 0.756);
    font-size: 18px;
    font-family: 'Inter UI', Arial;
    transition: color 300ms;
    transition: all 0.5s ease;
}

.signUptxt:hover{
  color: rgba(2, 87, 147, 0.756);
  transform: scale(1.08);
  font-family: 'Inter UI', Arial;
}